/**
 * Message 组件样式
 */
.t-message {
  display: inline-flex;
  align-items: center;
  padding: 12px 16px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.05), 0 8px 10px 1px rgba(0, 0, 0, 0.06);
}
.t-message--info .t-message__icon {
  color: #0052d9;
}
.t-message--success .t-message__icon {
  color: #00a870;
}
.t-message--warning .t-message__icon {
  color: #ed7b2f;
}
.t-message--error .t-message__icon {
  color: #e34d59;
}
.t-message__icon {
  margin-right: 8px;
  font-size: 20px;
}
.t-message__content {
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
}
.t-message__close {
  margin-left: 16px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}
.t-message__close:hover {
  color: rgba(0, 0, 0, 0.9);
}
