/**
 * Icon 组件样式
 */
@font-face {
  font-family: 't-icon';
  src: url('fonts/t-icon.woff2') format('woff2'), url('fonts/t-icon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.t-icon {
  font-family: 't-icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.t-icon--spin {
  animation: t-icon-spin 1s linear infinite;
}
.t-icon-close::before {
  content: '\e001';
}
.t-icon-check::before {
  content: '\e002';
}
.t-icon-info::before {
  content: '\e003';
}
.t-icon-warning::before {
  content: '\e004';
}
.t-icon-error::before {
  content: '\e005';
}
.t-icon-loading::before {
  content: '\e006';
}
.t-icon-search::before {
  content: '\e007';
}
.t-icon-plus::before {
  content: '\e008';
}
.t-icon-minus::before {
  content: '\e009';
}
.t-icon-arrow-left::before {
  content: '\e00a';
}
.t-icon-arrow-right::before {
  content: '\e00b';
}
.t-icon-arrow-up::before {
  content: '\e00c';
}
.t-icon-arrow-down::before {
  content: '\e00d';
}
@keyframes t-icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
